In [1]:
# Dependencies
import requests as req
import lxml.html as lh
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
from splinter import Browser

In [2]:
executable_path = {"executable_path":"/Users/allison/Desktop/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

### Mars News

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html,"html.parser")

In [5]:
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: NASA Invites Students to Name Mars 2020 Rover
Paragraph: Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

### Mars Featured Image

In [9]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [14]:
browser.click_link_by_partial_text('FULL IMAGE')

In [16]:
browser.click_link_by_partial_text('more info')

In [17]:
xpath = '//*[@id="fancybox-lock"]/div/div[1]/img'

In [18]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [19]:
html = browser.html
soup = bs(html, 'html.parser')
img_url = soup.find("img", class_="fancybox-image")['src']
print(f"{img_url}")

/spaceimages/images/mediumsize/PIA16605_ip.jpg

In [20]:
featured_image_url = "https://www.jpl.nasa.gov" + img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16605_ip.jpg'

### Mars Weather

In [21]:
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [22]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

### Mars Facts

In [27]:
url_facts = "https://space-facts.com/mars/"
table = pd.read_html(url_facts)
table[0]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [28]:
table[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
mars_facts = table[1]
mars_facts.set_index(0, inplace=True)
mars_html = mars_facts.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'